matplotlib
scikit-learn
arctic==1.74.0
gym==0.12.1
h5py==2.9.0
more-itertools==6.0.0
numpy==1.16.3
pandas==0.24.1
pymongo==3.7.2
pytest==4.3.0
python-dateutil==2.8.0
pytz==2018.9
requests==2.21.0
scipy==1.2.1
sortedcontainers==2.1.0
tzlocal==1.5.1
urllib3==1.24.2
websockets==7.0