matplotlib
scikit-learn
requests
numpy
pandas
gym
sortedcontainers
websockets
h5py
more-itertools
pymongo
pytest
python-dateutil
pytz
scipy
tzlocal

Keras==2.2.4
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
keras-rl==0.4.2

tensorboard==1.13.1
tensorflow-estimator==1.13.0
tensorflow-gpu==1.13.1
