arctic==1.74.0
gym==0.12.0
h5py==2.9.0
Keras==2.2.4
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
keras-rl==0.4.2
more-itertools==6.0.0
numpy==1.16.2
pandas==0.24.1
pymongo==3.7.2
pytest==4.3.0
python-dateutil==2.8.0
pytz==2018.9
requests==2.21.0
scipy==1.2.1
sortedcontainers==2.1.0
tensorboard==1.12.2
tensorflow==1.12.2
tensorflow-estimator==1.13.0
tensorflow-gpu==1.12.2
tzlocal==1.5.1
urllib3==1.24.2
websockets==7.0
